.venv/
dist/
__pycache__/
*.egg-info/
checkpoints/
wandb/
datasets/
results/
uv.lock
development_setup.md
debug.log
.env
kaggle.json
access_token
*.pyc
data/raw/
data/processed/
data/sample/*
!data/sample/
!data/sample/*.csv
